<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자판기 상품 추가</title>
</head>
<link rel="stylesheet" href="/machine.css">
<body>
<!-- 상품 추가 화면 -->
<div class="product-form">
  <h2>자판기 상품 추가</h2>
  <label>상품명:<input type="text" placeholder="상품명"></label>
  <label>가격:<input type="text" placeholder="가격"></label>
  <label>유통기한:<input type="date"></label>
  <div class="form-buttons">
    <button class="complete">상품 추가 완료!</button>
    <button class="back">돌아가기</button>
  </div>
</div>
</body>
</html>