body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin: 0;
}

.vending-machine, .product-form, .product-list {
  background-color: #c62828;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown, .add-button, .edit, .remove, .complete, .back {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-button {
  background-color: #f87171;
  align-items: center;
  color: white;
}

.complete {
  background-color: #1f2937;
  color: white;
}

.back {
  background-color: #f3f4f6;
  color: #1f2937;
}

.edit {
  background-color: #3b82f6;
}

.remove {
  background-color: #ef4444;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: black;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.message {
  margin-top: 10px;
  font-weight: bold;
  background-color: white;
  color: red;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
.total {

  margin-top: 10px;
  font-weight: bold;
  width: 40%;
  margin-right:0;
  background-color: white;
  color: red;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=\"text\"], input[type=\"date\"] {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* 언어 토글 스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4ade80;
}

input:checked + .slider:before {
  transform: translateX(20px);
}